<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anglers Daily</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<!-- nav bar -->

<body style="background-color:rgb(65, 62, 62);">
    <div>
        <div class="navbar navbar-dark bg-dark">
            <div class="d-flex justify-content-start align-items-center">
                <h1 class="ms-3" style="color:rgb(135,157,158);">Anglers Daily</h1>

                <!-- <a class="navbar-toggler ms-3" href="/about">about</a> -->
            </div>
            <div class="d-flex align-items-center">
                <a class="navbar-toggler me-3" href="/sign_up">Sign Up</a>
                <a class="btn btn-secondary me-3" href="/sign_up">Log in</a>
            </div>
        </div>
    </div>
    <div>
        <h1 style="background-color:rgb(65, 62, 62); color: white;" class="ms-3">Successful Locations</h1>
        <table class="table table-striped table-dark" id="tableBody">
            <thead>
                <tr>
                    <td>Location</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Weather</td>
                </tr>
            </thead>
            {% for one_location in all_locations%}
            <tr>
                <td>{{one_location.location}}</td>
                <td>{{one_location.lat}}</td>
                <td>{{one_location.lng}}</td>
                <td>{{one_location.weather}}</td>
            </tr>
            {%endfor%}
        </table>
        <!-- <form action="#">
            <input id="pac-input" type="text" placeholder="search box">
        </form> -->
    </div>

    <div id="map"></div>

    {#<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard_script.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClKEEHbC22jQ60u5ti6AOD-KA14AbNSM8&libraries=places&callback=initMap"
        async defer></script>
</body>

    
    

</html>