<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background-color:rgb(65, 62, 62);">
    <div>
        <div class="navbar navbar-dark bg-dark">
            <div class="d-flex justify-content-start align-items-center">
                <h1 class="ms-3" style="color:rgb(135,157,158);">Anglers Daily</h1>
                
                <!-- <a class="navbar-toggler ms-3" href="/about">about</a> -->
            </div>
            <div class="d-flex align-items-center">
                <a class="navbar-toggler me-3" href="/dashboard">Home</a>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">

            <div  class="col m-3">
                <h1 style="color: white;">Register</h1>
                {% for message in get_flashed_messages(category_filter = ['reg'] )%}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
                
                <form style="background-color:rgb(65, 62, 62); color: white;" class="form-control align items-end flex-column d-flex" action="/users/register" method="post">
                    <div class="mb-3">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div class="mb-3">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div class="mb-3">
                        <label for="email">email:</label>
                        <input type="text" name="email" id="email">
                    </div>

                    

                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </div>

                    <div class="mb-3">
                        <label for="confirm_pass">Confirm Password:</label>
                        <input type="password" name="confirm_pass">
                    </div>

                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>

            <div class="col m-3">
                <h1 style="color: white;">Login</h1>
                {% for message in get_flashed_messages(category_filter = ["log"] )%}
                <p class="text-danger">{{message}}</p>
                {% endfor %}
                
                <form style="background-color:rgb(65, 62, 62); color: white;" class="form-control align items-end flex-column d-flex" action="/users/login" method="post">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="text" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </div>
                    <button class="btn btn-secondary" type="submit">Log in</button>
            </div>
        </div>
    </div>
</body>

</html>