<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{logged_user.first_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body style="background-color:rgb(65, 62, 62);">
    <div class="navbar navbar-dark bg-dark">
        <div class="d-flex justify-content-start align-items-center">
            <h1 class="ms-3" style="color:rgb(135,157,158);">Anglers Daily</h1>
            <a class="navbar-toggler ms-3" href="/logged/dashboard">Home</a>
            <!-- <a class="navbar-toggler ms-3" href="/about">about</a> -->
        </div>
        <div class="d-flex align-items-center">
            <!-- <a class="navbar-toggler me-3" href="/sign_up">Sign Up</a> -->
            <!-- <a class="btn btn-secondary me-3" href="/sign_up">Log in</a> -->
            <a class="btn btn-danger me-3" href="/users/logout">logout</a>
        </div>
    </div>
    <div>
        <h1 style="background-color:rgb(65, 62, 62); color: white;" class="ms-3">Welcome, {{logged_user.first_name}} {{logged_user.last_name}}</h1>
        <h3 style="color: white;" class="m-3">Catch Locations</h3>
        <div>
            <table class="table table-striped table-dark m-3" >
                <thead>
                    <th>
                        <tr>
                            <td>Location</td>
                            <td>Time</td>
                            <td>Latitude</td>
                            <td>Longitude</td>
                            <td>Weather</td>
                            <td>Actions</td>
                        </tr>
                    </th>
                </thead>
                {% for one_location in logged_user.locations %}
                <tr>
                    <td>{{one_location.location}}</td>
                    <td>{{one_location.time}}</td>
                    <td> Lat: {{one_location.lat}}</td>
                    <td> Long: {{one_location.lng}} </td>
                    <td>{{one_location.weather}}</td>
                    <td>
                        <a href="/locations/{{one_location.id}}">View </a>
                        <a href="/locations/{{one_location.id}}/edit">| Edit |</a>
                        <a href="/locations/{{one_location.id}}/delete">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <a class="ms-3" href="/locations/new">add location</a>
        <h3 id="info"></h3>
    </div>
    <input id="pac-input" type="text" placeholder="search box">
    <div id="map"></div>
    <p id="lat"></p>
    <p id="lng"></p>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClKEEHbC22jQ60u5ti6AOD-KA14AbNSM8&libraries=places&callback=initMap"
        async defer></script>
</body>

</html>