/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    margin: auto;
    height: 50%;
    width: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.back {
    background-image: linear-gradient(rgb(165, 210, 225), rgb(11, 26, 85));
}

.titleImg {
    background-image: url("/static/img/rainbowtrout_16.jpg");
    background-position: center;
    background-size:contain;
    /* color: red; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
        helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.reg{
    color: rgb(31, 59, 169);
}
